[package]
name = "shared"
version = "0.1.0"
edition = "2021"

[dependencies]
base64 = { workspace = true }
borsh = { workspace = true }
pinocchio-log = { workspace = true }
pinocchio = { workspace = true }
